<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sol.s4.board.notice.NoticeDAO">
	<select id="getCount" resultType="Long" parameterType="Pager">
		SELECT COUNT(NUM) FROM NOTICE
		
		<if test = "kind == 'k1'">WHERE title LIKE '%' || #{search} || '%'</if>
		<if test = "kind == 'k2'">WHERE contents LIKE '%' || #{search} || '%'</if>
		<if test = "kind == 'k3'">WHERE writer LIKE '%' || #{search} || '%'</if>
		ORDER BY NUM DESC
	</select>
 
	<select id="getList" resultType="NoticeDTO" parameterType="Pager">
 		SELECT * FROM
	 		(SELECT rownum R, NT.* FROM
		 		(SELECT * 
		 		FROM NOTICE 
		 		WHERE
		 			<choose>
		 				<when test="kind == 'k1'">
		 					title
		 				</when>
		 				<when test="kind == 'k2'">
		 					contents
		 				</when>
		 				<otherwise>
		 					writer
		 				</otherwise>
		 			</choose>
		 		LIKE '%' || #{search} || '%'
		 		ORDER BY NUM DESC)
	 		NT)
	 	WHERE R between #{startRow} and #{lastRow}
 	</select>
 	
 	<select id="getSelect" parameterType="BoardDTO" resultType="NoticeDTO">
 		SELECT * FROM NOTICE WHERE NUM = #{num}
 	</select>
 	
 	<update id="setHitUpdate" parameterType="BoardDTO">
 		UPDATE NOTICE SET HITS = HITS+1 
 		WHERE NUM = #{num}
 	</update>

	<insert id="setInsert" parameterType="BoardDTO">
		INSERT INTO NOTICE (num, title, contents, writer, regDate, hits) 
		VALUES (notice_seq.nextval, #{title}, #{contents}, #{writer}, sysdate, 0)
	</insert>
	
	<delete id="setDelete" parameterType="BoardDTO">
		DELETE FROM NOTICE WHERE num = #{num}
	</delete>
	
	<!-- num 기준으로 title, contents 수정 -->
	<update id="setUpdate" parameterType="BoardDTO">
		UPDATE NOTICE SET TITLE = #{title}, CONTENTS = #{contents}
		WHERE NUM = #{num}
	</update>
 </mapper>