<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.sol.s4.board.qna.QnaDAO">
 	
 	<select id="getList" resultType="QnaDTO" parameterType="Pager">
 		SELECT * FROM 
		    (SELECT rownum R, Q.* FROM 
		        (SELECT * 
		        FROM QNA 
		        	<if test="kind == 'k1'">WHERE title LIKE '%' || #{search} || '%'</if>
		        	<if test="kind == 'k2'">WHERE contents LIKE '%' || #{search} || '%'</if>
		        	<if test="kind == 'k3'">WHERE writer LIKE '%' || #{search} || '%'</if>
		        ORDER BY REF DESC, STEP ASC)
		    Q)
		WHERE R between #{startRow} and #{lastRow}
 	</select>
 	
 	<select id="getCount" resultType="Long" parameterType="Pager">
 		SELECT COUNT(NUM) FROM QNA
 		WHERE
 		<choose>
 			<when test="kind == 'k1'">
 				title	
 			</when>
 			<when test="kind == 'k2'">
 				contents	
 			</when>
 			<otherwise>
 				writer	
 			</otherwise>
 		</choose>
 		LIKE '%' || #{search} || '%'
 		ORDER BY NUM DESC
 	</select>
 	
 	<resultMap type="QnaDTO" id="getSelectResult">
 		<id column="num" property="num"/>
 		<result column="title" property="title"/>
 		<result column="contents" property="contents"/>
 		<result column="writer" property="writer"/>
 		<result column="regDate" property="regDate"/>
 		<result column="hits" property="hits"/>
 		<result column="ref" property="ref"/>
 		<result column="step" property="step"/>
 		<result column="depth" property="depth"/>
 		<collection property="files" javaType="List" ofType="BoardFilesDTO" resultMap="getFilesResult"></collection>
 	</resultMap>
 	
 	<resultMap type="BoardFilesDTO" id="getFilesResult">
 		<!-- 1:N, DTO 내에 List가 멤버변수로 선언 -->
 		<id column="fileNum" property="fileNum"/>
 		<result column="num" property="num"/>
 		<result column="fileName" property="fileName"/>
 		<result column="oriName" property="oriName"/>
 	</resultMap>
 	
 	<select id="getSelect" parameterType="BoardDTO" resultMap="getSelectResult">
 		SELECT Q.*, QF.*
		FROM QNA N
		    LEFT JOIN
		    QNAFILES NF
		ON (Q.NUM = QF.NUM)
		WHERE Q.NUM = #{num}
 	</select>
 	
 	<select id="getSelect" parameterType="BoardDTO" resultType="QnaDTO">
 		SELECT * FROM QNA WHERE NUM = #{num}
 	</select>
 	
 	<update id="setHitUpdate" parameterType="BoardDTO">
 		UPDATE QNA SET HITS = HITS+1 
 		WHERE NUM = #{num}
 	</update>
 	
 	<insert id="setInsert" parameterType="BoardDTO">
		INSERT INTO QNA (num, title, contents, writer, regDate, hits, ref, step, depth) 
		VALUES (qna_seq.nextval, #{title}, #{contents}, #{writer}, sysdate, 0, qna_seq.currval, 0, 0)
	</insert>
 	
 	<update id="setReplyUpdate" parameterType="QnaDTO">
 		UPDATE QNA 
 		SET STEP = STEP+1
 		WHERE REF = #{ref} AND STEP > #{step}
 	</update>
 	
 	<insert id="setReply" parameterType="QnaDTO">
 		INSERT INTO QNA (num, title, contents, writer, regDate, hits, ref, step, depth) 
		VALUES (qna_seq.nextval, #{title}, #{contents}, #{writer}, sysdate, 0, #{ref}, #{step}, #{depth})
 	</insert>
 </mapper>