<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.sol.s4.board.qna.QnaDAO">
 	
 	<select id="getList" resultType="QnaDTO" parameterType="Pager">
 		SELECT * FROM 
		    (SELECT rownum R, Q.* FROM 
		        (SELECT * 
		        FROM QNA 
		        	<if test="kind == 'k1'">WHERE title LIKE '%' || #{search} || '%'</if>
		        	<if test="kind == 'k2'">WHERE contents LIKE '%' || #{search} || '%'</if>
		        	<if test="kind == 'k3'">WHERE writer LIKE '%' || #{search} || '%'</if>
		        ORDER BY REF DESC, STEP ASC)
		    Q)
		WHERE R between #{startRow} and #{lastRow}
 	</select>
 	
 	<select id="getCount" resultType="Long" parameterType="Pager">
 		SELECT COUNT(NUM) FROM QNA
 		WHERE
 		<choose>
 			<when test="kind == 'k1'">
 				title	
 			</when>
 			<when test="kind == 'k2'">
 				contents	
 			</when>
 			<otherwise>
 				writer	
 			</otherwise>
 		</choose>
 		LIKE '%' || #{search} || '%'
 		ORDER BY NUM DESC
 	</select>
 	
 	<select id="getSelect" parameterType="BoardDTO" resultType="QnaDTO">
 		SELECT * FROM QNA WHERE NUM = #{num}
 	</select>
 	
 	<insert id="setInsert" parameterType="BoardDTO">
		INSERT INTO QNA (num, title, contents, writer, regDate, hits, ref, step, depth) 
		VALUES (qna_seq.nextval, #{title}, #{contents}, #{writer}, sysdate, 0, qna_seq.currval, 0, 0)
	</insert>
 	
 	<update id="setReplyUpdate" parameterType="QnaDTO">
 		UPDATE QNA 
 		SET STEP = STEP+1
 		WHERE REF = #{ref} AND STEP > #{step}
 	</update>
 	
 	<insert id="setReply" parameterType="QnaDTO">
 		INSERT INTO QNA (num, title, contents, writer, regDate, hits, ref, step, depth) 
		VALUES (qna_seq.nextval, #{title}, #{contents}, #{writer}, sysdate, 0, #{ref}, #{step}, #{depth})
 	</insert>
 </mapper>